

<div id="adata-ngular-controller" class="txt-center">
    <div id="index-inner-box" class="">
        <h2 class="txt-left">Community Members</h2>
        <div class="empty-space-20"></div>
        <div class="">
            <div class="txt-center">
                <div class="col-lg">
                    <a href="#/members/add" class="button">Add Member</a>
                </div>
                <div class="col-lg">
                    <div class="col vert-mid">Filter</div>
                    <input type="text" class="input col vert-mid" data-ng-model="mesjidIndexCtrl.searchText" />
                </div>
            </div>
        </div>

        <div class="table-box">

            <div class="table blue">
                <div class="head">

                    <div class="row">
                        <div class="column w120">
                            <div class="text">
                                Name
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                Spouse
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                Phone
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                Email
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w50">
                            <div class="text">
                                -
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="table-head-shadow"></div>
                    <div class="row"
                         data-ng-repeat="member in mesjidIndexCtrl.membersList | filter:mesjidIndexCtrl.searchText track by $index">
                        <div class="column w120">
                            <div class='text' data-ng-click='mesjidIndexCtrl.prepareMemberForEdit(member.CommunityMemberId, $index)'>
                                <label>Name: </label>
                                <a href="#/members/edit/{{member.CommunityMemberId}}" class="link">{{ member.FullName }}</a>
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                <label>Spouse: </label>
                                {{ member.SpouseFullName }}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                <label>Phone: </label>
                                {{ member.PhoneNumber }}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w120">
                            <div class="text">
                                <label>Email: </label>
                                {{ member.Email}}
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                        <div class="column w50">
                            <div class="text delete-link"
                                 data-ng-click='mesjidIndexCtrl.deleteMember(member.CommunityMemberId)'>
                                Delete
                            </div>
                            <div class="vert-mid-hack"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end table box -->
    </div>
    <div class="modal-bg hidden modal-closer"></div>
  
</div>
<div id="error-modal" class="hidden">
    <div id="error-modal-message">
    </div>
</div>

