<div data-ng-controller="EditMemberVM as editCtrl">
    <div class="col col-1-2 horz-pad-5">
        <div class='form-row'>
            <div class="input-label">
                <label>First Name</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.FirstName" />
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Last Name</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.LastName"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Spouse First</label>
            </div>
            <input type="text" data_ng_model = "editCtrl.member.SpouseFirstName" />
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Spouse Last</label>
            </div>
            <input type="text" data_ng_model = "editCtrl.member.SpouseLastName" />
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Phone Number</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.PhoneNumber"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Email</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.Email"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Street 1</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.Street1"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>Street2</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.Street2"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>City</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.City"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>State</label>
            </div>
            <input type='text' data_ng_Model = "editCtrl.member.State"/>
        </div>
        <div class='form-row'>
            <div class="input-label">
                <label>ZipCode</label>
            </div>
            <input type='text' data_ng_model = "editCtrl.member.ZipCode"/>
        </div>
    </div>
    <div class="col col-1-2 horz-pad-5">
        <div class="form-row">
            <div class="txt-center"><b>Add Children</b></div>
            <div class="empty-5-px txt-left"></div> 
            <div class="empty-5-px"></div>
                <div class="col col-1-2 vert-mid">
                    <div class="col col-1-2">
                        <span class="col col-1-2 vert-mid horz-pad-5">First</span>
                        <input type="text" class="col col-1-2 vert-mid input-half-width" data-ng-model="editCtrl.child.FirstName"/>
                    </div>
                    <div class="col col-1-2">
                        <span class="col col-1-2 vert-mid horz-pad-5">Last</span>
                        <input type="text" class="col col-1-2 vert-mid input-half-width" data-ng-model="editCtrl.child.LastName"/>
                    </div>
                </div>
                <div class="button col col-1-2 vert-mid" data-ng-click="editCtrl.addChild()">
                    Add
                </div>
        </div>
        <div class="empty-5-px"></div> 
        <div class="empty-5-px"></div> 
        <div class="empty-5-px"></div> 
        <div class="empty-5-px"></div> 
        <div class='form-row'>
            <div class="width-500">
                <div>
                    <div class="col col-1-4 txt-left">
                            <b>Child</b>
                    </div>
                    <div class="col col-1-4">
                        <b>Activities</b>
                    </div>
                    <div class="col col-1-4">
                        <b>Add Activity</b>
                    </div>
                    <div class="col col-8-perc">

                    </div>
                </div>
                <div class="empty-5-px"></div> 
                <div data-ng-repeat="child in editCtrl.memberChildren track by $index" class="children-row">
                        <div class="col col-1-5 vert-mid">
                            <div class="txt-left">
                                {{child.FirstName + ' ' + child.LastName}}
                            </div>
                        </div>
                        <div class="col col-1-5 txt-left vert-mid">
                            <div class="">
                                <select class="content">
                                    <option data-ng-repeat='activity in child.CommunityActivities'>{{activity.ActivityName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col col-1-5 vert-mid add-activity-list">
                            <div class="add-activity-content">
                                <select data-ng-model="editCtrl.activityName" class="content">
                                    <option data-ng-repeat="activity in editCtrl.communityMemberActivities" value='{{activity}}'>
                                        {{activity}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col col-8-perc">
                            <div class="button" data-ng-click="editCtrl.addActivityForChild(child.ChildId, $index)">Add</div>
                        </div>
                        <!--<div class="col col-8-perc">
                            <div class="" data-ng-click="">Delete</div>
                        </div>-->
                    <div class="empty-5-px"></div> 
                    <!--<div class="delete-icon col vert-mid" data-ng-click="">X</div>-->
                </div>
                
            </div>
        </div>
    </div>


    <div class="empty-5-px"></div>    
    <div class="form-row">
        <div class="col vert-mid">
            <div class="button" data-ng-click="editCtrl.updateMember()">Save</div>
        </div>
        <div class="link-hover-tom col vert-mid modal-closer" data-ng-click="editCtrl.clearMemberData(true)">Cancel</div>
    
    </div>

</div>